/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */


/* add rules here */
Button {
	-fx-color: rgb(244, 180, 0);
	-fx-text-fill: white;
	
	/*-fx-border-color: rgb(219, 68, 55) red */
	
}
#btnClear {
	-fx-background-color: rgb(101, 101, 101);
	-fx-text-fill: white;
	-fx-background-radius: 5px;

}
#checkinButton{
	
	-fx-background-color: rgb(15, 157, 88);
	-fx-text-fill: white;
	-fx-background-radius: 5px;
}
VBox{
	-fx-background-color: rgb(101, 101, 101);
}

/*.button {
  -fx-background-color: red;
  -fx-text-fill: white;
  -fx-background-radius: 16px;
} */
